**Exercicio 1**

*União Europeia:*

``Critério de criação:`` Proximidade geográfica, objetivo de criar um ambiente de paz entre as nações após a guerra fria, melhorar a situação econômica.

``Aberturas Providas:`` Mercado único(utilização da mesma moeda, “Euro”), livre circulação da população entre os países inclusos.

*MERCOSUL*

``Critério de criação:`` proximidade geográfica e econômica 

``Aberturas providas:`` maior circulação de pessoas, produtos, capital , trabalho : diminuição dos impostos, menos burocracia para documentos de viagens, acordo de residência entre os países, reconhecimento de diplomas e certificados estudantis no bloco, permissão dos benefícios sociais entre os países.

**Exercicio 2**

In [39]:
import pandas as pd
df = pd.read_csv('API_NY.GDP.MKTP.KD.ZG_DS2_en_csv_v2_4682262.csv', skiprows=4)
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,6.429817,-0.020479,3.543630,2.116716,5.482371,1.267218,-2.085600,-22.318948,NaN,NaN
1,Africa Eastern and Southern,AFE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,0.239594,7.980768,5.164334,4.579952,5.327717,...,4.200209,3.984387,2.952845,2.217017,2.557135,2.485244,2.025941,-2.886856,4.303667,NaN
2,Afghanistan,AFG,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.600745,2.724543,1.451315,2.260314,2.647003,1.189228,3.911603,-2.351101,NaN,NaN
3,Africa Western and Central,AFW,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.848752,3.770220,7.272440,5.396349,4.049793,...,6.104192,5.927355,2.745894,0.127844,2.317679,2.952190,3.202544,-0.897014,3.914799,NaN
4,Angola,AGO,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.950000,4.820000,0.940000,-2.580000,-0.150000,-1.316312,-0.700000,-5.500000,0.700000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,5.340908,3.348804,5.916270,5.571757,4.825690,3.406631,4.756831,-5.340275,9.127578,NaN
262,"Yemen, Rep.",YEM,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,NaN,NaN,NaN,NaN,NaN,...,4.823415,-0.188574,-27.994546,-9.375124,-5.071796,0.752448,1.400000,-8.500000,-2.061513,NaN
263,South Africa,ZAF,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,3.844734,6.177931,7.373709,7.939609,6.122798,...,2.485468,1.413826,1.321862,0.664552,1.157947,1.487617,0.113054,-6.431975,4.914603,NaN
264,Zambia,ZMB,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,1.361382,-2.490839,3.272393,12.214048,16.647456,...,5.057232,4.697992,2.920375,3.776679,3.504336,4.034494,1.441306,-2.785055,3.572815,NaN
265,Zimbabwe,ZWE,GDP growth (annual %),NY.GDP.MKTP.KD.ZG,NaN,6.316157,1.434471,6.244345,-1.106172,4.910571,...,1.989493,2.376929,1.779873,0.755869,4.709492,4.824211,-6.144236,-6.248748,5.849420,NaN

**MERCOSUL**

In [56]:
# lista mercosul
mercosul = ['Argentina', 'Brazil', 'Paraguay', 'Uruguay', 'Venezuela, RB']
dici_media_mercosul = {}
df_mercosul = df[df['Country Name'].isin(mercosul)]

# fazer nova coluna com media
df_mercosul['media'] = df_mercosul.mean(axis=1)

#Pega coluna media
df_mercosul = df_mercosul['media']



for pais,num in zip(mercosul,range(len(df_mercosul))):
    dici_media_mercosul[pais] = (df_mercosul.iloc[num])
print(dici_media_mercosul)

{'Argentina': 2.3464302141455944, 'Brazil': 3.878297872085246, 'Paraguay': 4.5772467154845895, 'Uruguay': 2.159678446107161, 'Venezuela, RB': 2.80546660381058}

C:\Users\eduba\AppData\Local\Temp\ipykernel_31184\192528814.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_mercosul['media'] = df_mercosul.mean(axis=1)
C:\Users\eduba\AppData\Local\Temp\ipykernel_31184\192528814.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_mercosul['media'] = df_mercosul.mean(axis=1)

**União Europeia**

In [53]:
#lista de paises da uniao europeia
lista_uniao_europeia = ['Austria', 'Belgium', 'Bulgaria', 'Croatia', 'Cyprus', 'Czech Republic', 'Denmark', 'Estonia', 'Finland', 'France', 'Germany', 'Greece', 'Hungary', 'Ireland', 'Italy', 'Latvia', 'Lithuania', 'Luxembourg', 'Malta', 'Netherlands', 'Poland', 'Portugal', 'Romania', 'Slovak Republic', 'Slovenia', 'Spain', 'Sweden', 'United Kingdom']
lista_media_uniao_europeia = {}
df_uniao_europeia = df[df['Country Name'].isin(lista_uniao_europeia)]

#fazer media dos paises da uniao europeia
df_uniao_europeia['media'] = df_uniao_europeia.mean(axis=1)

#pegar coluna media dos paises da uniao europeia
df_uniao_europeia_media = df_uniao_europeia['media']
df_uniao_europeia_media
#pegar a segunda coluna do dataframe

for pais,num in zip(lista_uniao_europeia,range(len(df_uniao_europeia_media))):
    lista_media_uniao_europeia[pais] = (df_uniao_europeia_media.iloc[num])
print(lista_media_uniao_europeia)

{'Austria': 2.6146182106948643, 'Belgium': 2.5637572782823366, 'Bulgaria': 1.6920680367427192, 'Croatia': 4.740476510824953, 'Cyprus': 1.8567197158198254, 'Czech Republic': 2.382949664642982, 'Denmark': 3.190434526424092, 'Estonia': 4.158438297665802, 'Finland': 2.748554804362763, 'France': 2.687199430280741, 'Germany': 2.324630782962477, 'Greece': 2.7210990421824968, 'Hungary': 2.208550917793755, 'Ireland': 2.224328592348669, 'Italy': 5.17917176188515, 'Latvia': 2.269971246006845, 'Lithuania': 4.185661924082747, 'Luxembourg': 3.687347408107278, 'Malta': 3.7399670761748443, 'Netherlands': 5.579267433472188, 'Poland': 2.7598409998146205, 'Portugal': 3.6576861392566906, 'Romania': 3.082926756047373, 'Slovak Republic': 2.249333991938373, 'Slovenia': 3.62410603506372, 'Spain': 2.6978817763627823, 'Sweden': 2.529123206908514}

C:\Users\eduba\AppData\Local\Temp\ipykernel_31184\3411929117.py:7: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_uniao_europeia['media'] = df_uniao_europeia.mean(axis=1)
C:\Users\eduba\AppData\Local\Temp\ipykernel_31184\3411929117.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_uniao_europeia['media'] = df_uniao_europeia.mean(axis=1)

In [57]:
#gdp medio global
gdp_medio_global = df.mean(axis=1)
#Indice global está na linha 265
gdp_medio_global = gdp_medio_global.iloc[264]


lista_paises_avancados_uniao_europeia = []
lista_paises_emergentes_uniao_europeia = []



lista_paises_avancados_uniao_europeia = []
lista_paises_emergentes_uniao_europeia =

3.210007060708559

C:\Users\eduba\AppData\Local\Temp\ipykernel_31184\1308526710.py:2: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  gdp_medio_global = df.mean(axis=1)