In [46]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

df_APS1 = pd.read_csv('food_insecurity2 - cópia/API_SN.ITK.SVFI.ZS_DS2_en_csv_v2_4365382.csv', sep=',', encoding='latin1',decimal='.', skiprows=4 )
df_APS1.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,Prevalence of severe food insecurity in the po...,SN.ITK.SVFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,Prevalence of severe food insecurity in the po...,SN.ITK.SVFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,AFG,Prevalence of severe food insecurity in the po...,SN.ITK.SVFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,14.8,15.1,17.3,17.3,19.8,NaN,NaN,NaN
3,Africa Western and Central,AFW,Prevalence of severe food insecurity in the po...,SN.ITK.SVFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Angola,AGO,Prevalence of severe food insecurity in the po...,SN.ITK.SVFI.ZS,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,21.0,NaN,NaN,24.0,26.9,NaN,NaN,NaN

In [47]:
import pandas as pd
df_APS2 = pd.read_csv('API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4493512/API_EN.ATM.CO2E.PC_DS2_en_csv_v2_4493512.csv', sep=',', encoding='latin1',decimal='.', skiprows=4 )
df_APS2.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,Unnamed: 66
0,Aruba,ABW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Africa Eastern and Southern,AFE,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.005027,1.016649,0.966589,0.948410,0.937926,0.917507,0.913618,NaN,NaN,NaN
2,Afghanistan,AFG,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.185624,0.146236,0.172897,0.149789,0.131695,0.163295,0.159824,NaN,NaN,NaN
3,Africa Western and Central,AFW,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,0.508099,0.515960,0.494065,0.499405,0.483140,0.486456,0.493923,NaN,NaN,NaN
4,Angola,AGO,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,NaN,NaN,NaN,NaN,NaN,NaN,...,1.036294,1.099779,1.135044,1.031811,0.813301,0.777675,0.792137,NaN,NaN,NaN

In [48]:
# df_APS1 = df_APS1[df_APS1['Country Name'] == 'Brazil']
# df_APS2 = df_APS2[df_APS2['Country Name'] == 'Brazil']

# df_inseguranca_alimentar = df_APS1.set_index('Country Name')
# df_emissao_co2 = df_APS2.set_index('Country Name')
df_inseguranca_alimentar = df_APS1[df_APS1['Country Name'] == 'Brazil']
df_emissao_co2 = df_APS2[df_APS2['Country Name'] == 'Brazil']

df_inseguranca_alimentar.rename(columns = {'2019': 'fome'}, inplace=True)
df_emissao_co2.rename(columns = {'2019': 'co2'}, inplace=True)

df_inseguranca_alimentar = df_inseguranca_alimentar['fome']
df_emissao_co2 = df_emissao_co2['co2']


df = pd.concat((df_inseguranca_alimentar, df_emissao_co2), axis=1, join='inner')
df.head()
plt.figure(figsize=(3,3), dpi=1000)
sns.scatterplot(data=df, x='fome', y='co2')

InvalidIndexError: (0      False
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Name: Country Name, Length: 266, dtype: bool, 'United States', 'Zimbabwe')